/* ------- DISEÑO LOGIN Y REGISTER -------- */

.box-shadow {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img img {
  width: 430px;
}

form {
  width: 360px;
}

a:hover {
  color: #2499D1;
}

/* ------ FIN DISEÑO LOGIN Y REGISTER ------ */
/* ----------------------------------------- */

/* -------------- RESPONSIVE -------------- */

@media screen and (max-width: 1000px) {
  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .img {
    display: none;
  }

  .wave {
    display: none;
  }
}